<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="../public/bulma.min.css">
</head>
<body>
<div class="container">
    <h2 class="title">Welcome, <%= username %></h2>
    <div id="chat-box" class="box" style="height: 400px; overflow-y: scroll;"></div>
    <form action="/sendMessage" method="POST">
        <input type="text" name="message" placeholder="Type a message..." required>
        <button type="submit" class="button is-primary">Send</button>
    </form>
    <a href="/logout" class="button is-danger">Logout</a>
</div>
</body>
</html>